<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liam.term.mapper.template.TemplateMapper">

    <select id="selectTemplateList" resultType="com.liam.term.domain.template.vo.TemplateVO">
        SELECT
            t.id,
            t.template_name as templateName,
            t.text_type as textType,
            t.style,
            t.purpose,
            t.create_time as createTime
        FROM template t
        WHERE t.user_id = #{currentUserId}
        
        <!-- 模板名称搜索 -->
        <if test="query.templateName != null and query.templateName != ''">
            AND t.template_name LIKE CONCAT('%', #{query.templateName}, '%')
        </if>
        
        ORDER BY t.create_time DESC
    </select>

</mapper>
